.navbar {
    height: 68px;

    background-color: #101b2d;
    border: none;
    border-bottom: 1px solid #27364b;

    border-radius: 0;

    padding: 0 27px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-right: 250px;
}

.logo-icon {
    color: #c9a75d;

    font-size: 24px;
    font-weight: bold;
}

.logo-text {
    color: #f5f1e8;

    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
}


.navbar .p-menubar-root-list {
    gap: 5px;
}

.navbar .p-menuitem-link {
    color: #9caec5;

    padding: 10px 14px;

    border-radius: 8px;
    border: transparent;
}


.navbar-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-icon-button {
    width: 38px;
    height: 38px;

    color: #8fa2bb !important;

    border-radius: 8px;
}

.navbar-icon-button:hover {
    background-color: #182940 !important;

    color: #ffffff !important;
}
.navbar-avatar {
    width: 34px;
    height: 34px;

    background-color: #7295b8;
    color: #ffffff;

    font-weight: bold;

    margin-left: 5px;
}
.navbar .p-menuitem-link:focus,
.navbar .p-menuitem-link:focus-visible {
    outline: none;
    box-shadow: none;
}

